/*
 * Filename: data-picker.css
 * Created on: October 10, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

.date-picker {
  -fx-background-color: theme-bg-input;
  -fx-background-radius: 20;
  -fx-padding: 5;
  -fx-border-color: theme-border;
  -fx-border-radius: 20;
  -fx-border-width: 2;
  -fx-font-size: 14px;
}

.date-picker .text-field {
  -fx-background-color: transparent;
  -fx-background-radius: 20;
}

.date-picker .arrow-button {
  -fx-background-color: transparent;
  -fx-background-radius: 20;
}

.date-picker .arrow {
  -fx-background-color: theme-arrow;
  -fx-background-radius: 20;
}

.date-picker-popup .list-view .list-cell {
  -fx-background-color: theme-bg-input;
  -fx-background-radius: 20;
  -fx-text-fill: theme-text-primary;
}

.date-picker-popup .list-view .list-cell:hover {
  -fx-background-color: theme-bg-hover;
  -fx-background-radius: 20;
}

.date-picker .popup {
  -fx-background-color: theme-bg-input;
}
