/*
 * Filename: credit_card.css
 * Created on: September 21, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

.description-label {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-text-fill: theme-text-primary;
}

.foreseen-label {
  -fx-font-size: 10px;
  -fx-text-fill: theme-text-primary;
}

.chart-plot-background {
  -fx-background-color: transparent;
}

.axis {
  -fx-border-color: transparent;
  -fx-tick-mark-visible: false;
  -fx-minor-tick-visible: false;
  -fx-tick-label-fill: theme-chart-axis;
}

.chart-legend {
  -fx-background-color: transparent;
  -fx-font-size: 12px;
  -fx-text-fill: theme-chart-legend;
}
