/*
 * Filename: wallet-full-pane.css
 * Created on: October  6, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

#root {
  -fx-background-color: theme-bg-pane;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}
