/*
 * Filename: resume-pane.css
 * Created on: October 10, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

.positive-value {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-text-fill: theme-positive;
}

.negative-value {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-text-fill: theme-negative;
}

.zero-value {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-text-fill: theme-text-primary;
}

.current-label {
  -fx-font-size: 13px;
  -fx-text-fill: theme-text-primary;
  -fx-font-weight: bold;
}

.foreseen-label {
  -fx-font-size: 10px;
  -fx-text-fill: theme-text-primary;
}
