/*
 * Filename: transaction.css
 * Created on: September 21, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

.chart-plot-background {
  -fx-background-color: transparent;
}

.axis {
  -fx-border-color: transparent;
  -fx-tick-mark-visible: false;
  -fx-minor-tick-visible: false;
  -fx-tick-label-fill: theme-chart-axis;
}

.chart-legend {
  -fx-background-color: transparent;
  -fx-font-size: 12px;
  -fx-text-fill: theme-chart-legend;
}
